In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import Ridge

In [5]:
train = pd.read_csv('data/train.csv')
submission = pd.read_csv('data/sample_submission.csv')

In [6]:
train.head()

     time  signal  open_channels
0  0.0001 -2.7600              0
1  0.0002 -2.8557              0
2  0.0003 -2.4074              0
3  0.0004 -3.1404              0
4  0.0005 -3.1525              0

In [7]:
train.tail()

             time  signal  open_channels
4999995  499.9996  2.9194              7
4999996  499.9997  2.6980              7
4999997  499.9998  4.5164              8
4999998  499.9999  5.6397              9
4999999  500.0000  5.3792              9

In [8]:
train.shape

(5000000, 3)

In [9]:
train['open_channels'].min()

0

In [10]:
train_time = train['time'].values

In [11]:
train_time_0 = train_time[:50000]

In [12]:
train_time_0 = list(train_time_0)*100

In [13]:
len(train_time_0)

5000000

In [14]:
train['time']= train_time_0

In [15]:
test = pd.read_csv('data/test.csv')

In [16]:
test.head()

       time  signal
0  500.0001 -2.6498
1  500.0002 -2.8494
2  500.0003 -2.8600
3  500.0004 -2.4350
4  500.0005 -2.6155

In [17]:
test.tail()

             time  signal
1999995  699.9996 -2.9092
1999996  699.9997 -2.7422
1999997  699.9998 -2.8285
1999998  699.9999 -2.9092
1999999  700.0000 -2.7422

In [20]:
test.shape

(2000000, 2)